<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="readonly"></ion-menu-button>
      <ion-button *ngIf="!readonly" (click)="cancelChanges()">
        <span>{{ 'basic.cancel' | translate }}</span>
      </ion-button>

    </ion-buttons>
    <ion-title>{{ 'account.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="readonly" (click)="switchEdit()">
        <span>{{ 'basic.edit' | translate }}</span>
      </ion-button>
      <ion-button *ngIf="!readonly" (click)="switchEdit()">
        <span>{{ 'basic.done' | translate }}</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="model" class="ion-padding-top ion-text-center">
    <img [src]="model.picture" alt="avatar" class="imgAvatar">
    <br>
    <ion-button *ngIf="!readonly" style="text-transform:none" fill="clear" (click)="updatePicture()">
      {{ 'account.chgpic' | translate }}
    </ion-button>

    <form #accountForm="ngForm">
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <app-label [required]="!readonly">{{ 'account.firstName' | translate }}</app-label>
                <ion-input [(ngModel)]="model.name" name="name" #name="ngModel" [required]="!readonly"
                  [readonly]="readonly"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <app-label [required]="!readonly">{{ 'account.lastName' | translate }}</app-label>
                <ion-input [(ngModel)]="model.family_name" name="family_name" #family_name="ngModel"
                  [required]="!readonly" [readonly]="readonly"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- TODO: add the warnings / errors -->
        <ion-text color="danger" *ngIf="name.invalid && (name.dirty && name.touched)">
          <p *ngIf="name.errors.required" class="ion-padding-start ion-text-left">
            {{ 'account.firstName' | translate }}{{ 'basic.required' | translate }}
          </p>
        </ion-text>
        <ion-text color="danger" *ngIf="family_name.invalid && (family_name.dirty && family_name.touched)">
          <p *ngIf="family_name.errors.required" class="ion-padding-start ion-text-left">
            {{ 'account.lastName' | translate }}{{ 'basic.required' | translate }}
          </p>
        </ion-text>

        <br>
        <ion-item>
          <app-label [required]="false">{{ 'auth.email' | translate }}</app-label>
          <ion-input name="username" type="email" email readonly [value]="model.username">
          </ion-input>
        </ion-item>

      </ion-list>
    </form>

    <ion-button style="text-transform:none" fill="clear" (click)="changePassword()">
      {{ 'auth.chgPwdTitle' | translate }}
    </ion-button>
    <br>
    <ion-button style="text-transform:none" fill="clear" (click)="logout()">{{ 'account.logout' | translate }}
    </ion-button>
  </div>
</ion-content>
