<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="readonly"></ion-menu-button>
      <ion-button *ngIf="!readonly" (click)="cancelChanges()">
        <span>{{ 'basic.cancel' | translate }}</span>
      </ion-button>

    </ion-buttons>
    <ion-title>{{ 'account.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="readonly" (click)="switchEdit()">
        <span>{{ 'basic.edit' | translate }}</span>
      </ion-button>
      <ion-button *ngIf="!readonly" (click)="switchEdit()">
        <span>{{ 'basic.done' | translate }}</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="accountData" class="ion-padding-top ion-text-center">
    <img [src]="accountData.attributes.picture" alt="avatar" class="imgAvatar">
    <br>
    <ion-button *ngIf="!readonly" style="text-transform:none" fill="clear" (click)="updatePicture()">
      {{ 'account.chgpic' | translate }}
    </ion-button>

    <form [formGroup]="myform">
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <app-label tCode="auth.firstName" [required]="!readonly"></app-label>
                <ion-input formControlName="name" required [readonly]="readonly"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <app-label tCode="auth.lastName" [required]="!readonly"></app-label>
                <ion-input formControlName="family_name" required [readonly]="readonly"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-item>
          <app-label tCode="auth.email" [required]="false"></app-label>
          <ion-input name="username" type="email" email readonly [value]="accountData.username">
          </ion-input>
        </ion-item>

      </ion-list>
    </form>

    <ion-button style="text-transform:none" fill="clear" (click)="changePassword()">
      {{ 'auth.chgPwdTitle' | translate }}
    </ion-button>
    <br>
    <ion-button style="text-transform:none" fill="clear" (click)="logout()">{{ 'account.logout' | translate }}
    </ion-button>
  </div>
</ion-content>
