<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'auth.forgot.title' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf=!usernameGiven>

    <form #forgotPasswordForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <app-label tCode="auth.email"></app-label>
          <ion-input [(ngModel)]="username" name="usernameCtrl" type="email" #usernameCtrl="ngModel" required email>
          </ion-input>
        </ion-item>

        <ion-text color="danger" *ngIf="usernameCtrl.invalid && (usernameCtrl.dirty && usernameCtrl.touched)">
          <p *ngIf="usernameCtrl.errors.required" class="ion-padding-start">
            {{ 'auth.email' | translate }}{{ 'basic.required' | translate }}
          </p>
          <p *ngIf="usernameCtrl.errors.email" class="ion-padding-start">
            {{ 'auth.emailValid' | translate }}
          </p>
        </ion-text>
      </ion-list>

      <ion-button (click)="forgotPassword(forgotPasswordForm)" color="light" expand="block"
        [disabled]="forgotPasswordForm.invalid">
        {{ 'basic.request' | translate }}
      </ion-button>
    </form>
  </div>
  <div *ngIf=usernameGiven>
    <p [innerHTML]="'auth.forgot.desc' | translate:param"></p>
    <form #confirmForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <app-label tCode="auth.confirm.code"></app-label>
          <ion-input [(ngModel)]="code" name="codeCtrl" type="text" #codeCtrl="ngModel" required>
          </ion-input>
        </ion-item>

        <ion-text color="danger" *ngIf="codeCtrl.invalid && (codeCtrl.dirty && codeCtrl.touched)">
          <p *ngIf="codeCtrl.errors.required" class="ion-padding-start">
            {{ 'auth.confirm.code' | translate }}{{ 'basic.required' | translate }}
          </p>
        </ion-text>

        <ion-item>
          <app-label tCode="auth.pwd"></app-label>
          <ion-input [(ngModel)]="password" name="passwordCtrl" type="password" #passwordCtrl="ngModel" minlength="8"
            required app-password clearOnEdit="false">
          </ion-input>
        </ion-item>

        <ion-text color="danger" *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty && passwordCtrl.touched)">
          <p *ngIf="passwordCtrl.errors.required" class="ion-padding-start">
            {{ 'auth.pwd' | translate }}{{ 'basic.required' | translate }}
          </p>
          <p *ngIf="passwordCtrl.errors.password" class="ion-padding-start">
            {{ 'auth.pwdComp' | translate }}
          </p>
        </ion-text>

      </ion-list>

      <ion-button (click)="confirmCode(confirmForm)" color="light" expand="block" [disabled]="confirmForm.invalid">
        {{ 'basic.change' | translate }}
      </ion-button>
    </form>
  </div>


</ion-content>
