<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'account.chgPwd.title' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #pwdChangeForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="primary">{{ 'account.chgPwd.old' | translate }}</ion-label>
        <ion-input [(ngModel)]="changePassword.oldPassword" name="oldPassword" type="password" #oldPassword="ngModel"
          required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="oldPassword.valid || submitted == false" class="ion-padding-start">
          {{ 'account.chgPwd.oldReq' | translate }}
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="floating" color="primary">{{ 'account.chgPwd.new' | translate }}</ion-label>
        <ion-input [(ngModel)]="changePassword.newPpassword" name="password" type="password" #password="ngModel"
          required validateEqual="password2">
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          {{ 'account.chgPwd.newReq' | translate }}
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="floating" color="primary">{{ 'account.chgPwd.new2' | translate }}</ion-label>
        <ion-input name="password2" type="password" #password2="ngModel" required validateEqual="password">
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="password2.invalid && (password2.dirty && password2.touched)">
        <p *ngIf="password2.errors.required" class="ion-padding-start">
          {{ 'account.chgPwd.new2Req' | translate }}
        </p>
        <p *ngIf="password2.errors.validateEqual" class="ion-padding-start">
          not a valid password
        </p>
      </ion-text>
    </ion-list>

    <ion-button (click)="passwordChange(pwdChangeForm)" color="light" expand="block" [disabled]="pwdChangeForm.invalid">
      {{ 'account.chgPwd.change' | translate }}
    </ion-button>
  </form>
</ion-content>