<form [formGroup]="apiaryInfoForm">
  <ion-list fullscreen>
    <ion-item>
      <app-label tCode="Apiary Name" [required]="!isReadonly"></app-label>
      <ion-input formControlName="name" [required]="!isReadonly" [readonly]="isReadonly"></ion-input>
    </ion-item>

    <ion-item>
      <app-label tCode="Address" [required]="!isReadonly"></app-label>
      <ion-input formControlName="address" [required]="!isReadonly" [readonly]="isReadonly"></ion-input>
    </ion-item>

    <ion-item>
      <app-label tCode="Forages" [required]="!isReadonly"></app-label>
      <ion-input formControlName="forages" [required]="!isReadonly" [readonly]="isReadonly"></ion-input>
    </ion-item>

    <ion-item>
      <app-label tCode="Type" [required]="!isReadonly"></app-label>
      <ion-input formControlName="type" [required]="!isReadonly" [readonly]="isReadonly"></ion-input>
    </ion-item>

  </ion-list>
</form>
