<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="shareSession()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <ion-button *ngIf="readonly" (click)="switchEdit()">
        <span>{{ 'basic.edit' | translate }}</span>
      </ion-button>
      <ion-button *ngIf="!readonly" (click)="switchEdit()">
        <span>{{ 'basic.done' | translate }}</span>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Some Name</ion-card-title>
      <ion-input></ion-input>
    </ion-card-header>
    <ion-card-content>
      <app-apiary-form #form [isReadonly]="readonly"></app-apiary-form>
    </ion-card-content>
  </ion-card>
  <!--app-apiary-form #form [isReadonly]="readonly"></app-apiary-form-->

  <app-icon-addmedia (clickPicture)="addPicture()" (clickUploadFile)="uploadFile()"></app-icon-addmedia>
</ion-content>
