<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'auth.signup' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup-logo">
    <img src="assets/img/appicon.svg" alt="Ionic Logo">
  </div>

  <form #signupForm="ngForm" novalidate>
    <ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <app-label tCode="auth.firstName"></app-label>
              <ion-input [(ngModel)]="signup.attributes.name" name="firstName" #firstName="ngModel" required>
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <app-label tCode="auth.lastName"></app-label>
              <ion-input [(ngModel)]="signup.attributes.family_name" name="lastName" #lastName="ngModel" required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <app-label tCode="auth.email"></app-label>
        <ion-input [(ngModel)]="signup.username" name="username" type="email" #username="ngModel" required email>
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="username.invalid && (username.dirty && username.touched)">
        <p *ngIf="username.errors.required" class="ion-padding-start">
          {{ 'auth.emailReq' | translate }}
        </p>
        <p *ngIf="username.errors.email" class="ion-padding-start">
          {{ 'auth.emailValid' | translate }}
        </p>
      </ion-text>

      <ion-item>
        <app-label tCode="auth.pwd"></app-label>
        <ion-input [(ngModel)]="signup.password" name="password" type="password" #password="ngModel" minlength="8"
          required app-password clearOnEdit="false">
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="password.invalid && (password.dirty && password.touched)">
        <p *ngIf="password.errors.required" class="ion-padding-start">
          {{ 'auth.pwdReq' | translate }}
        </p>
        <p *ngIf="password.errors.password" class="ion-padding-start">
          {{ 'auth.pwdComp' | translate }}
        </p>
      </ion-text>

      <ion-item lines="none">
        <p>{{ 'auth.terms.descPre' | translate }} <a [routerLink]=""
            (click)="openTermsConditions()">{{ 'auth.terms.title' | translate }}</a>{{ 'auth.terms.descPos' | translate }}
        </p>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="onSignup(signupForm)" type="submit" expand="block" [disabled]="signupForm.invalid">
        {{ 'basic.create' | translate }}
      </ion-button>
    </div>
  </form>

</ion-content>
