<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'apiary.activity.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>


    <!-- TODO: add a timeline:
    - https://github.com/kevincobain2000/ionic-timeline-v3
    - https://github.com/ahmadkhalaf1/ion-timeline
    - https://github.com/juniorabranches/ionic-timeline
    - https://market.ionicframework.com/plugins/ionic-timeline

    Whatsapp Clone
    https://github.com/Lihemen/Whatsapp-clone
    https://github.com/newtonmunene99/ionic3-whatsappclone
    https://github.com/ionic-team/ionic-docs/blob/master/src/demos/api/list/index.html
    https://github.com/mrhieu/ionic-messenger


    https://github.com/mrhieu

  -->

    <ion-list>
      <ion-list-header>
        Recent Activities
      </ion-list-header>

      <ion-item *ngFor="let activity of apiaryData?.activities">
        <ion-button *ngIf="activity.type==='audio'" slot="end" (click)="play(activity)" color="primary">
          <ion-icon name="play"></ion-icon>
        </ion-button>
        <ion-icon *ngIf="activity.type==='audio'" slot="end" name="mic"></ion-icon>

        <ion-button *ngIf="activity.type==='photo'" slot="end" (click)="presentPic(activity)" color="primary">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
        <ion-icon *ngIf="activity.type==='photo'" slot="end" name="camera"></ion-icon>

        <ion-button *ngIf="activity.type==='text'" slot="end" (click)="play(activity)" color="primary">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
        <ion-icon *ngIf="activity.type==='text'" slot="end" name="text"></ion-icon>

        <ion-label>
          {{activity.type}}
          {{activity.createdAt}}
        </ion-label>
      </ion-item>

    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let photo of galleryService.photos; index as position">
          <ion-img src="{{ photo.base64 ? photo.base64 : photo.webPath }}" (click)="showActionSheet(photo, position)">
          </ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <app-icon-addmedia (clickPicture)="addPicture()" (clickUploadFile)="uploadFile($event)"
      (clickRecordAudio)="addAudio($event)"></app-icon-addmedia>

    <app-record-audio (newRecord)="newRecord($event)"></app-record-audio>

  </ion-grid>
</ion-content>
