<form #apiaryInfoForm="ngForm">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <app-label [required]="!isReadonly">{{ 'apiaryDetail.name' | translate }}</app-label>
      <ion-input [(ngModel)]="model.name" name="name" #name="ngModel" [required]="!isReadonly" [readonly]="isReadonly">
      </ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="name.invalid && (name.dirty && name.touched)">
      <p *ngIf="name.errors.required" class="ion-padding-start ion-text-left">
        {{ 'apiaryDetail.name' | translate }}{{ 'basic.required' | translate }}
      </p>
    </ion-text>

    <ion-item>
      <app-label [required]="!isReadonly">{{ 'apiaryDetail.address' | translate }}</app-label>
      <ion-input [(ngModel)]="model.address" name="address" #address="ngModel" [required]="!isReadonly"
        [readonly]="isReadonly"></ion-input>
    </ion-item>

    <ion-item>
      <app-label [required]="!isReadonly">{{ 'apiaryDetail.forages' | translate }}</app-label>
      <ion-select [(ngModel)]="model.forages" name="forages" #forages="ngModel" multiple>
        <ion-select-option *ngFor="let f of foragesList" [value]="f">{{f}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <app-label [required]="!isReadonly">{{ 'apiaryDetail.type' | translate }}</app-label>
      <ion-input [(ngModel)]="model.type" name="type" #type="ngModel" [required]="!isReadonly" [readonly]="isReadonly">
      </ion-input>
    </ion-item>

  </ion-list>
</form>
