<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'auth.chgPwdTitle' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #pwdChangeForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <app-label>{{ 'auth.old' | translate }}</app-label>
        <ion-input [(ngModel)]="changePassword.oldPassword" name="oldPassword" type="password" #oldPassword="ngModel"
          required clearOnEdit="false">
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="oldPassword.invalid && (oldPassword.dirty && oldPassword.touched)">
        <p *ngIf="oldPassword.errors.required" class="ion-padding-start">
          {{ 'auth.old' | translate }}{{ 'basic.required' | translate }}
        </p>
      </ion-text>

      <ion-item>
        <app-label>{{ 'auth.new' | translate }}</app-label>
        <ion-input [(ngModel)]="changePassword.newPassword" name="newPassword" type="password" #newPassword="ngModel"
          required app-password clearOnEdit="false">
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="newPassword.invalid && (newPassword.dirty && newPassword.touched)">
        <p *ngIf="newPassword.errors.required" class="ion-padding-start">
          {{ 'auth.new' | translate }}{{ 'basic.required' | translate }}
        </p>
        <p *ngIf="newPassword.errors.password" class="ion-padding-start">
          {{ 'auth.pwdComp' | translate }}
        </p>
      </ion-text>

      <ion-item>
        <app-label>{{ 'auth.new2' | translate }}</app-label>
        <ion-input [(ngModel)]="changePassword.newPasswordRep" name="newPasswordRep" type="password"
          #newPasswordRep="ngModel" required app-validateEqual="newPassword" clearOnEdit="false">
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="newPasswordRep.invalid && (newPasswordRep.dirty && newPasswordRep.touched)">
        <p *ngIf="newPasswordRep.errors.required" class="ion-padding-start">
          {{ 'auth.new2' | translate }}{{ 'basic.required' | translate }}
        </p>
        <p *ngIf="newPasswordRep.errors.validateEqual" class="ion-padding-start">
          {{ 'auth.newPwdMatch' | translate }}
        </p>
      </ion-text>
    </ion-list>

    <ion-button (click)="passwordChange(pwdChangeForm)" color="light" expand="block" [disabled]="pwdChangeForm.invalid">
      {{ 'basic.change' | translate }}
    </ion-button>
  </form>
</ion-content>
