<ion-header>
  <ion-toolbar>
    <ion-title>Photo Library Demo Ionic 2</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <button ion-item *ngFor="let libraryItem of library" (click)="itemTapped($event, libraryItem)">
      <img [src]="libraryItem.thumbnailURL | cdvphotolibrary">
    </button>
    <button ion-item *ngFor="let libraryItem of library" (click)="itemTapped($event, libraryItem)">
      <img [src]="libraryItem.safeThumbnailURL">
    </button>
    <button ion-item *ngFor="let libraryItem of library" (click)="itemTapped($event, libraryItem)">
      <img [src]="getSafeUrl(libraryItem.thumbnailURL)">
    </button>
  </ion-list>
  <p *ngFor="let libraryItem of library">{{libraryItem.safeThumbnailURL}}</p>
  <!--p *ngFor="let libraryItem of library">{{libraryItem.thumbnailURL | cdvphotolibrary}}</p-->
  <!--p *ngFor="let libraryItem of library" [innerHTML]="{{libraryItem.thumbnailURL | cdvphotolibrary}}"></p-->
  <!-- virtualScroll is still problematic -->
  <!--<ion-list [virtualScroll]="library" [approxItemWidth]="thumbnailWidth" [approxItemHeight]="thumbnailHeight" [virtualTrackBy]="trackById" >
    <button ion-item *virtualItem="let libraryItem">
      <ion-img [src]="libraryItem.thumbnailURL" [width]="thumbnailWidth" [height]="thumbnailHeight" cache="true"></ion-img>
    </button>
  </ion-list>-->
</ion-content>